$primary: #2681ff;
$primaryLight: #5aa0ff;

$textLight: #777777;
$textDark: #0f294d;
$textBlue: #287dfa;

$lightGrey: #f0f2f5;
$lightBlue: #4978ce;
$lightOrange: #fff7eb;

$darkYellow: #ff9500;

$black: #000000;
$white: #ffffff;
